@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

  .main-panel {
    border: 1px solid blue;
    width: 50% !important;
    height: 70% !important;
    min-height: 200px !important;
  }

  .add-component-button {
    margin: 5%;
    background: #2d55cd;
    color: white;
  }

  .component-container {
    margin: 5%;
    background: #2d55cd !important;
  }
}
